@font-face {
    font-family: myHPFont;
    src: url(HarryP-MVZ6w.ttf);
}



body {
    display: grid;
    
    grid-template-areas: "above-video"
                        "main-grid"
                        "footer";
    margin: 0;
    padding: 0;
    /* row-gap: 50vh; */
    grid-template-rows: 1fr 2fr 2fr;
}

#above-video {
    grid-area: above-video;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1.5em 2em;
    grid-template-areas: "head-nav head-nav head-nav"
                        "left-nav title right-nav";
}

#language {
    border-style: none;
    padding: 0;
}

#head-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: goldenrod;
    grid-area: head-nav;
    background-color: black;
    height: 1.5em;
}

#head-nav > ul.icons {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: space-around;
}

#facebook, #instagram, #steam {
    text-decoration: none;
    color: goldenrod;
}

#facebook:hover, #instagram:hover, #steam:hover {
    background-color: goldenrod;
    color: black;
    font-size: 20px;
}

#video-text {
    position: relative;
    text-align: center;
    grid-area: video-text;
  }

#top-video {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#head {
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "left-nav title title right-nav";

}

#left-nav {
    background:linear-gradient(90deg, rgb(101,116,205, .1), rgb(101,116,205, .4), rgb(101,116,205, .7)) ;
    
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    grid-area: left-nav;
    font-size: 20px;
    height: 1.5em;

    border-bottom: 3px solid goldenrod;
    border-bottom-right-radius: 8px;

}

#right-nav {
    background:linear-gradient(90deg, rgb(101,116,205, .7), rgb(101,116,205, .4), rgb(101,116,205, .1)) ;

    display: flex;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    grid-area: right-nav;
    font-size: 20px;

    border-bottom: 3px solid goldenrod;
    border-bottom-left-radius: 8px;
}

#left-nav > a:hover {
    background-color: goldenrod;
    color: black;
    font-size: 30px;
}
#right-nav > a:hover {
    background-color: goldenrod;
    color: black;
    font-size: 30px;
}

#left-nav > a {
    text-decoration: none;
    font-family: myHPFont, Georgia, 'Times New Roman', Times, serif;
    color:  slateblue;
}

#right-nav > a {
    text-decoration: none;
    font-family: myHPFont, Georgia, 'Times New Roman', Times, serif;
    color: slateblue;
}

#title {
    
    grid-area: title;
    font-size: 40px;
}

#title span, #slogan span {
    transform: translate(-50%,-50%);
    font-family: myHPFont, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    background-image: linear-gradient(
     to right,
     #462523 0,
            #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
}

/* #title h1 {
    margin-top: 0;
    padding-top: 0;
} */




header > p {
    text-align: center;
    background-color: black;
    color: goldenrod;
    padding: 5px 0px 5px 0px;
    margin: 0;
}


#main-grid {
    margin: 20px;
    padding: 0;
    display: grid;
    grid-area: main-grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "slogan main-gif";
}

#slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: slogan;
    
  }

#slogan > p {
    color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
}

#main-gif {
    padding-top: 20%;
    margin-right: 10%;
    grid-area: main-gif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    border: none;
    font-family: myHPFont, Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 5px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    opacity: .65;
    border-radius: 45%;
  }

  #footer {
    border-top: 7px solid black;
    background: linear-gradient(320deg, rgb(151, 10, 10) 25%, rgb(16, 133, 16) 50%, rgb(15, 15, 173) 75%, rgb(179, 154, 12) 100%);
    grid-area: footer;
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    grid-template-areas: ". choice choice ."
                         "Gryffindor Slytherin Ravenclaw Hufflepuff";
    height: 100vh;
    
  }

  #footer p {
      grid-area: choice;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: myHPFont, Georgia, 'Times New Roman', Times, serif;
      color: black;
      font-weight: bolder;
      font-size: 70px;
      letter-spacing: 5px;
      
  }

  #Gryffindor {
      display: flex;
      grid-area: Gryffindor;
      justify-content: center;
      
  }

  #Slytherin {
    display: flex;
    grid-area: Slytherin;
    justify-content: center;
}

#Ravenclaw {
    display: flex;
    grid-area: Ravenclaw;
    justify-content: center;
}

#Hufflepuff {
    display: flex;
    grid-area: Hufflepuff;
    justify-content: center;
}

.gif {
    border-radius: 8px;
}

.gif:hover {
    opacity: .5;
} 

@media screen and (max-width: 450px) {
    #body {
        
        grid-template-areas: "above-video"
                        "main-grid"
                        "footer";
        grid-template-rows: 1fr 2fr 1fr;
    }
    #top-video {
        width: auto;
      height: 100%;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }

    #above-video {
        grid-area: above-video;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5em 2em;
        grid-template-areas: "head-nav head-nav"
                            "left-nav right-nav"
                            "title title";
    }

    #title {
        text-align: center;
    }


    #footer {
        grid-template-areas: "choice"
                         "Gryffindor" 
                         "Slytherin"
                         "Ravenclaw" 
                         "Hufflepuff";
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    #main-gif {
        align-self: center;
        padding-top: 0;
    }
}


/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;} /* End https://www.cursors-4u.com */