@font-face {
    font-family: myHPFont;
    src: url(HarryP-MVZ6w.ttf);
}





body {
    display: grid;
    grid-template-areas: "above-video"
                        "main-grid"
                        "footer";
    margin: 0;
    padding: 0;
    /* row-gap: 50vh; */
    grid-template-rows: 1fr 2fr 2fr;
    width: 100%;
    height: auto;
}

#above-video {
    margin: 0;
    padding: 0;
    grid-area: above-video;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1.5em 2em;
    grid-template-areas: "head-nav head-nav head-nav"
                        "left-nav title right-nav";
    width: 100%;
    height: auto;
}

#language {
    background-color: goldenrod;
    border-style: none;
    padding: 0;
    border-radius: 8px;
}

#language:hover {
    background: slateblue;
    color: gold;    
}

#head-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: goldenrod;
    grid-area: head-nav;
    background-color: black;
    height: 1.5em;
}

#head-nav > ul.icons {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: space-around;
}

#facebook, #instagram, #steam {
    text-decoration: none;
    color: goldenrod;
}

#facebook:hover, #instagram:hover, #steam:hover {
    background-color: goldenrod;
    color: black;
    font-size: 20px;
}

#video-text {
    position: relative;
    text-align: center;
    grid-area: video-text;
  }

#top-video {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#head {
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-nav title right-nav";
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;

}

#left-nav {
    background:linear-gradient(90deg, rgb(101,116,205, .1), rgb(101,116,205, .4), rgb(101,116,205, .7)) ;
    
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    grid-area: left-nav;

    border-bottom: 3px solid goldenrod;
    border-bottom-right-radius: 8px;

}

#right-nav {
    background:linear-gradient(90deg, rgb(101,116,205, .7), rgb(101,116,205, .4), rgb(101,116,205, .1)) ;

    display: flex;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    grid-area: right-nav;

    border-bottom: 3px solid goldenrod;
    border-bottom-left-radius: 8px;
}

#left-nav > a:hover {
    background-color: goldenrod;
    color: black;
    font-size: 30px;
}
#right-nav > a:hover {
    background-color: goldenrod;
    color: black;
    font-size: 30px;
}

#left-nav > a {
    text-decoration: none;
    font-family: myHPFont, Georgia, 'Times New Roman', Times, serif;
    color:  slateblue;
    font-size: 20px;
    letter-spacing: 3px;
}

#right-nav > a {
    text-decoration: none;
    font-family: myHPFont, Georgia, 'Times New Roman', Times, serif;
    color: slateblue;
    font-size: 20px;
    letter-spacing: 3px;
}

#title {
    display: flex;
    justify-content: center;
    /* align-self: center; */
    grid-area: title;
    font-size: 40px;
}

#title span, #slogan span {
    transform: translate(-50%,-50%);
    font-family: myHPFont, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    background-image: linear-gradient(
     to right,
     #462523 0,
     #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
}

/* #title h1 {
    margin-top: 0;
    padding-top: 0;
} */




header > p {
    text-align: center;
    background-color: black;
    color: goldenrod;
    padding: 5px 0px 5px 0px;
    margin: 0;
}


#main-grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-area: main-grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "slogan main-gif";
    width: 100%;
    height: auto;
}

#slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: slogan;
    
  }

#slogan > p {
    color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin: 0;
    /* padding-left: 100px;
    padding-right: 100px; */
}

#main-gif {
    margin-top: 20%;
    justify-self: center;
    align-self: center;
    grid-area: main-gif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    border: none;
    font-family: myHPFont, Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 5px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    opacity: .65;
    border-radius: 45%;
  }

  .button:hover {
      background-color: slateblue;
      color: goldenrod;
  }

  #footer {
    border-top: 7px solid black;
    background-color: rgba(0, 0, 0, 0.596);
    grid-area: footer;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 2px;
    grid-template-areas: ". choice choice ."
                         "Gryffindor Slytherin Ravenclaw Hufflepuff"
                         "slytherin-logo professor professor gryffindor-logo";

    height: auto;
    width: 100%;
    margin: 0;
    padding-bottom: 2%;
    
  }

  #choice {
    grid-area: choice;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: myHPFont, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    background-image: linear-gradient(
    to right,
   #462523 0,
          #cb9b51 22%, 
   #f6e27a 45%,
   #f6f2c0 50%,
   #f6e27a 55%,
   #cb9b51 78%,
   #462523 100%
   );
   color:transparent;
   -webkit-background-clip:text;
   font-size: 70px;
   text-align: center;
}

  #Gryffindor {
      display: flex;
      grid-area: Gryffindor;
      justify-content: center;
      
  }

  #Slytherin {
    display: flex;
    grid-area: Slytherin;
    justify-content: center;
}

#Ravenclaw {
    display: flex;
    grid-area: Ravenclaw;
    justify-content: center;
}

#Hufflepuff {
    display: flex;
    grid-area: Hufflepuff;
    justify-content: center;
}

.gif {
    border-radius: 8px;
}

.gif:hover {
    opacity: .5;
}

.gryff-border {
    border-width: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 245px;
    background: transparent;
      background: linear-gradient(
        60deg,
        hsl(0, 73%, 22%),
        hsl(0, 85%, 35%),
        hsl(44, 86%, 38%),
        hsl(0, 85%, 35%),
        hsl(0, 73%, 22%)
      );
    border-radius: 8px;
    }

.slyth-border {
    border-width: 3px;
    position: relative;
    display: flex;
     justify-content: center;
    align-items: center;
    width: 210px;
    height: 245px;
    background: transparent;
    background: linear-gradient( 60deg,
            hsl(128, 79%, 19%),
            hsl(103, 94%, 34%),
            silver,
            hsl(103, 94%, 34%),
            hsl(128, 79%, 19%)
          );
    border-radius: 8px;
}

.rav-border {
    border-width: 3px;
    position: relative;
    display: flex;
     justify-content: center;
    align-items: center;
    width: 210px;
    height: 245px;
    background: transparent;
    background: linear-gradient( 60deg,
            hsl(224, 93%, 37%),
            hsl(224, 93%, 37%),
            silver,
            hsl(224, 93%, 37%),
            hsl(224, 93%, 37%)
          );
    border-radius: 8px;
}

.huff-border {
    border-width: 3px;
    position: relative;
    display: flex;
     justify-content: center;
    align-items: center;
    width: 210px;
    height: 245px;
    background: transparent;
    background: linear-gradient( 60deg,
            rgb(168, 127, 21),
            rgba(255, 217, 0, 0.726),
            yellow,
            rgba(255, 217, 0, 0.726),
            rgb(168, 127, 21)
          );
    border-radius: 8px;
}

#ravenclaw-logo {   
    height: 50%;
    top: 0;
    left: 0;
    bottom: auto;
}

#hufflepuff-logo{  
    height: 50%;
    top: 0;
    right: 0;
    bottom: auto;
}

#slytherin-logo{
    grid-area: slytherin-logo;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    top: auto;  
    bottom: 0;
    left: 0;
    height: 50%;
}

#gryffindor-logo{
    grid-area: gryffindor-logo;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    top: auto;
    bottom: 0;
    right: 0;
    height: 50%;
    /* margin-left: 243%;
    height: 40%; */
}

#professor > p {
    font-family: myHPFont, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    background-image: linear-gradient(
    to right,
   #462523 0,
   #cb9b51 22%, 
   #f6e27a 45%,
   #f6f2c0 50%,
   #f6e27a 55%,
   #cb9b51 78%,
   #462523 100%
   );
   color:transparent;
   -webkit-background-clip:text;
   font-size: 70px;
   text-align: center;
}

#professor {
    grid-area: professor;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30%;
}



.shape-outer {
    display: flex;
    flex-shrink: 0;
    height: calc(150px + 4vw);
    width: calc(150px + 4vw);
    margin: 25px;
    background-image: linear-gradient(to bottom right,
     #462523 0,
     #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%);
}

#steve-inner-hexagon {	
    height: calc(130px + 4vw);
    width: calc(130px + 4vw);
    background: url("photos/steve.jpg") no-repeat center;
    background-size: cover;
    margin: auto;
}

#john-inner-octagon {
    height: calc(130px + 4vw);
    width: calc(130px + 4vw);
    background: url("photos/john.jpg") no-repeat center;
    background-size: cover;
    margin: auto;
}

.hexagon {
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    		clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.octagon {
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    		clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}








@media screen and (max-width: 1024px) {
    #top-video {
        width: auto;
      height: 100%;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    #footer {
        grid-template-areas: "choice choice"
                         "Gryffindor Slytherin"
                         "Ravenclaw Hufflepuff"
                         "professor professor";
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }
    #above-video {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5em 2em;
        grid-template-areas: "head-nav head-nav"
                            "left-nav right-nav"
                            "title title";
    }
    #title {
        text-align: center;
    }
    #slogan {
        justify-content: center;
        align-items: center;
      }
    #main-gif {
        align-self: flex-start;
    }
}
@media screen and (max-width: 450px) {
    body {
        grid-template-areas: "above-video"
                        "main-grid"
                        "footer";
        grid-template-rows: .5fr auto 1fr;
    }
    #top-video {
        width: auto;
      height: 100%;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    #above-video {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5em 2em;
        grid-template-areas: "head-nav head-nav"
                            "left-nav right-nav"
                            "title title";
    }
    #title {
        text-align: center;
    }
    #footer {
        grid-template-areas: "choice"
                         "Gryffindor"
                         "Slytherin"
                         "Ravenclaw"
                         "Hufflepuff"
                         "professor"
                         "professor";
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    #main-gif {
        display: none;
    }
    #main-grid {
        column-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas: "slogan";
    }
    #hufflepuff-logo, #ravenclaw-logo, #slytherin-logo, #gryffindor-logo {
        display: none;
    }

    #professor {
        flex-wrap: wrap;
    }
}


/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;} /* End https://www.cursors-4u.com */