

body {
    margin: 0;
    padding: 0;
}

#head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-nav title right-nav";
    
}

#left-nav {
    display: flex;
    justify-content: space-around;
    grid-area: left-nav;
}

#right-nav {
    grid-area: right-nav;
}

#right-nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    
}

#title {
    display: flex;
    grid-area: title;
    justify-content: center;
}

#title > img {
    height: 30%;
}

#title > h1 {
    font-size: 4em;
    padding-left: 3%;
    margin-top: 0;
}

#currency {
    border-style: none;
    padding-right: 0px;
}

header > p {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0px 5px 0px;
}

#right-nav > ul > li:nth-child(2) {
    border-left:1px solid black;
    left-pad
}